In [1]:
#Importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Uploding our dataset
df = pd.read_csv("C:/Users/Faith/Downloads/placement-dataset.csv")
df.head(5)

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0

In [3]:
#Checking on the data types
df.dtypes

Unnamed: 0      int64
cgpa          float64
iq            float64
placement       int64
dtype: object

In [4]:
#Summary statistics
df.describe().T

            count     mean        std   min      25%    50%     75%    max
Unnamed: 0  100.0   49.500  29.011492   0.0   24.750   49.5   74.25   99.0
cgpa        100.0    5.991   1.143634   3.3    5.075    6.0    6.90    8.5
iq          100.0  123.580  39.944198  37.0  101.500  127.5  149.00  233.0
placement   100.0    0.500   0.502519   0.0    0.000    0.5    1.00    1.0

# Data Cleaning

In [5]:
#Checking for missing values
df.isnull().sum()

Unnamed: 0    0
cgpa          0
iq            0
placement     0
dtype: int64

In [6]:
#Checking for duplicates
df.duplicated().sum()

0